- content_for(:page, "enrollments")
- content_for(:title, "Constipated koala | Digitale Inschrijvingen")

%section#enrollments
  .page.enrollment-page#content
    .container#activity-container
      - @activities.each do |activity|
        .col-lg-4.col-sm-6.col-xs-12
          = render 'layouts/activity/view', activity: activity, view: 'index'
      = link_to "mailto:pleasedotheneedful@svsticky.nl" , class: "btn btn-danger helpme"do
        %i.fa.fa-bug
        BUG!
    = render 'layouts/poster_modal'