- content_for(:page, "enrollments")
- content_for(:title, "Constipated koala | Digitale Inschrijvingen")

%section#enrollments
  .page.enrollment-page#content
    .container#activity-container
      - @activities.each do |activity|
        .col-lg-4.col-sm-6.col-xs-12
          = render 'layouts/activity/view', activity: activity, view: 'index'
      = link_to "mailto:pleasedotheneedful@svsticky.nl" , class: "btn btn-danger helpme"do
        %i.fa.fa-bug
        BUG!
    #poster-modal.modal{:role => "dialog"}
      .modal-dialog
        .modal-content
          .modal-header
            %button.close{"data-dismiss" => "modal", :type => "button"}
              &times;
            %h4.panel-title.activity-title
          .modal-body
            %img.full-width
            %br
            %br
            %a.btn.btn-info.more-info
              More info
          .modal-footer
            .col-md-1
              %button.btn.btn-default#prev-poster <
            .col-md-6.col-md-offset-2
              %button.btn.btn-default.full-width{"data-dismiss" => "modal"} Sluiten
            .col-md-1.col-md-offset-2
              %button.btn.btn-default#next-poster >
