- content_for(:title, "Constipated koala | Digitale Inschrijvingen")

%section#enrollments
  .page#content
    .row
      .col-md-12.widget
        .panel.table-dynamic.panel-default
          .panel-heading
            troep
          %table.table.table-striped.table-linked
            %tbody
              - @activities.each do |activity|
                %tr{ :data => {:'activity-id' => activity.id }}
                  %td
                    = activity[ :name ]
                  %td
                    = activity[ :start_date ]
                  %td.buttons
                    .btn-group
                      %button.btn.btn-primary.enroll
                        %i.fa.fa-fw.fa-check
