- content_for(:title, "Constipated koala | #{@activity.name}")

%section#enrollments
  .page.enrollment-show#content
    .container
      .panel.panel-default
        .panel-heading
          = @activity.name
        .panel-body
          Front-end pls do the needful
