-#
  @param {participant} participant  - Participant for this row of the table

%tr{ :class => ('in-debt' unless participant.currency.nil? || participant.currency == 0 || participant.paid), :data => { :id => participant.id || '{0}', :'data-activities-id' => @activity.id, :email => participant.member.email || '{3}', reservist: participant.reservist.to_s || 'false' }  }
  %td
    - if participant.member.name.blank?
      %a{:href => '/members/{1}'}
        {2}
    - else
      = link_to participant.member.name, participant.member, :style => 'text-align:left;'

  %td.price-input-td{:style => 'padding: 0px; min-width: 10%; width: 10%; text-align:left;' }
    %input.price{ :type => 'text', :value => number_to_currency(participant.currency, :unit => ''), :autocomplete=>'off'}
  %td.notes-td
    - if participant.notes
      %p
        = participant.notes
  %td.buttons
    .btn-group
      - if participant.paid
        %button.btn.btn-primary.unpaid{ :class => ('hidden' if participant.currency.nil? || participant.currency == 0 ) }
          %i.fa.fa-fw.fa-check
      - else
        %button.btn.btn-warning.paid{ :class => ('hidden' if participant.currency.nil? || participant.currency == 0)}
          %i.fa.fa-fw.fa-times
      %button.btn.btn-default.destroy
        %i.fa.fa-fw.fa-trash-o
