#participants tr > td {
  padding: 0px;
  padding-left: 8px;
}

#participants tr > td > a {
  line-height: 36px;
  
  height: 36px;
  width: 100%;
}

#participants tr > td > input {
  height: 32px;
  width: 100%;
  
  line-height: 32px; 
  
  margin: 5px 0;
  padding: 1px;
}

#participants tr > td {
  width: calc( 60% - 50px );
}

#participants tr > td:nth-child(2) {
  width: calc( 40% - 50px );
  
  padding-right: 5%;
  text-align: right;
}

#participants tr > td.buttons {
  width: 100px;
}

#participants tr > td > .btn-group {
  height: 30px;
  
  float: right;
   
  margin: 5px 0; 
  margin-right: 5px;
  padding: 0;
}

#participants tr > td > .btn-group > button{
  height: 32px;
  line-height: 20px;
  
  padding: 5px 12px;
}

#participants tr > td > ul.dropdown-menu {
  display: none; 
  position: absolute; 
  left: 4px; 
  top: 30px;
}

#participants tr > td > ul.dropdown-menu > li:not(.active) > a:hover {
  background-color: white;
  color: #767676;
}

@media (min-width: 768px) {
  form .form-group {
    width: calc(100% - 230px);
    position: relative;
    left: 230px;
  }
  
  form .form-group:nth-child(1){
    width: 100%;
    left: 0px;
  }
  
  .panel-body {
    position: relative;
    overflow: hidden;
  }
  
  .drop-box {
    position: absolute;
    
    top: 112px;
    left: 15px;
    
    padding: 0px;
    overflow: hidden;
    
    height: calc(100% - 176px);
    width: 200px;
  }
  
  .drop-box:hover {
    border-color: #AAA;
  }
  
  .drop-box label {
    margin-top: 60px;
  }
  
  .drop-box strong {
    cursor: pointer;
  }
  
  .drop-box p.remove {
    display: none;
    visibility: hidden;
  }
  
  .drop-box:hover p.remove, .drop-box p.remove:hover {
    position: absolute;
    bottom: 20px;
    
    visibility: visible;
    
    width: 100%;
    text-align: center;
    
    color: red;
  }
  
  .drop-box p.remove:hover {
    color: #bd0000;
  }
  
  .drop-box input {
    position: absolute;
    visibility: hidden;
  }
  
  .drop-box img {
    width: 100%;
  }
}


#mail > #textarea, #mail > textarea#html {
  font-family: arial;
  font-size: medium;
  
  color: #222;
  
  width: 100%;
  min-height: 200px;
 
  margin-bottom: 10px;
  overflow-y: scroll;
  
  display: none;
}

#mail.html > textarea#html {
  display: block;
}

#mail:not(.html) > #textarea {
  display: block;
}