li.list-group-item {
  height: 100px;
  padding: 10px 0;

  input {
    width: 100%;
    line-height: 25px;
    margin-top: 3px;
  }
}

tr td a {
  display: inline;
}

#advertisements {
  tr {
    height: 48px;

    > td {
      padding: 4px 0px 0px 8px;
      width: calc( 100% - 100px );
      border: 0px;

      &.buttons {
        width: 100px;
      }

      > input {
        height: 32px;

        line-height: 32px;

        margin: 5px 0;
        padding: 1px;
      }

      > .btn-group {
        height: 30px;

        float: right;

        margin: 5px 0;
        margin-right: 5px;
        padding: 0;

        > button {
          height: 32px;
          line-height: 20px;

          padding: 5px 12px;
        }
      }
    }
  }

  .form-group {
    margin: 5px 0;

    .input-group {
      .input-group-btn {
        right: 4px;
      }

      input.form-control {
        left: 5px;
        width: calc( 100% - 15px);
        height: 33px;
        line-height: 33px;
      }
    }
  }
}
