Hoi %recipient.first_name%,
<br><br>
Je bent meegeweest naar #{ subject.downcase }. Deze activiteit kostte %recipient.price%. Zou je dit bedrag zo snel mogelijk willen overmaken naar NL61INGB0002877106 t.n.v. Studievereniging Sticky o.v.v. <i>'%recipient.name% #{ subject.downcase }'</i>?
<br><br>
