/*
 *= require_self
 *= require sweetalert2/dist/sweetalert2
 */
div.container.col-md-9 {
  padding-left: 0px;
  padding-right: 0px;
}

@media (max-width: 420px) {
  .btn.helpme {
    width: 76px;
  }

  .btn.subscribe {
    width: 150px;
  }

  .btn-group {
    width: 100%;
  }

  .panel-footer .float-right {
    width: 100%;
  }

  .panel-activity .btn-group .btn {
    width: 100%;
    margin: 4px 0;
  }
}

@media (max-width: 420px) and (max-width: 404px) {
  .media-body {
    display: inline;
  }

  .media-left {
    padding-bottom: 15px;
    display: flex;
    justify-content: center;
  }
}

.poster-thumbnail {
  padding-right: 10px;
}

.poster-thumbnail img {
  width: 140px;
}

.poster-moreinfo a img {
  width: 500px;
  max-width: 100%;
}

.activity-info {
  padding: 0;
}

.media-body {
  padding-right: 10px;
}

.full-width {
  width: 100%;
}

.property-content {
  padding-left: 10px;
}

.panel-activity,
.cramtable,
.cramtable > .panel.panel-default {
  min-width: 255px;
}

.activity-title {
  text-overflow: ellipsis;
  overflow: hidden;
  max-width: 80%;
  white-space: nowrap;
}

#poster-modal {
  text-align: center;
}

#poster-modal .modal-footer {
  margin-top: 0;
}

#poster-modal .activity-title {
  max-width: 100%;
}

.custom_left {
  padding-left: 0;
}

.cramtable table {
  table-layout: fixed;
}

.cramtable tr > td {
  padding: 0 0 0 8px !important;
  vertical-align: middle;
  width: calc(60% - 50px);
}

.cramtable tr > td.participant_name {
  white-space: normal;
}

.cramtable tr > td.participant_table_notes {
  overflow: hidden;
}

.cramtable tr > td > a {
  line-height: 36px;
  height: 36px;
  width: 100%;
}

.cramtable tr > td > input {
  height: 32px;
  width: 100%;
  line-height: 32px;
  margin: 5px 0;
  padding: 1px;
}

.cramtable tr > td:nth-child(2) {
  width: calc(40% - 50px);
  padding-right: 5%;
  text-align: right;
}

.cramtable tr > td.buttons {
  width: 100px;
}

.cramtable tr > td > .btn-group {
  height: 30px;
  float: right;
  margin: 2px 0 4px 0;
  padding: 0;
}

.cramtable tr > td > .btn-group > button {
  height: 32px;
  line-height: 20px;
  padding: 5px 12px;
}

.cramtable tr > td > ul.dropdown-menu {
  display: none;
  position: absolute;
  left: 4px;
  top: 30px;
}

.cramtable tr > td > ul.dropdown-menu > li:not(.active) > a:hover {
  background-color: white;
  color: #767676;
}

.helpme {
  position: fixed;
  bottom: 10px;
  right: 10px;
}

.subscribe {
  position: fixed;
  bottom: 10px;
  right: 96px;
}

.show-activity-topborder {
  border-top: 1px solid #efefef;
}

.notes {
  resize: none;
}

/* Sweet-alerts with a lot of text will not properly display their buttons */
.sweet-alert {
  box-sizing: border-box;
  overflow-y: auto !important;
}

@media (max-height: 735px), (max-width: 420px) {
  .sweet-alert {
    top: 65px !important;
    margin-top: 0 !important;
    max-height: calc(100vh - 80px) !important;
  }
}

#activity-container {
  width: 100%;
  max-width: 100%;
  display: flex;
  flex-wrap: wrap;
  flex-direction: row;
}
.poster-thumbnail .mask {
    position: absolute;
    top: 0;
    height: 100%;
    width: 140px;
    opacity: 0;
    transition: .5s ease;
    background-color: rgba(62, 53, 53, 0.5);
}
.poster-thumbnail:hover .mask {
    opacity: 1;
    cursor: pointer;

}
.flexwrap {
	flex-wrap: wrap;
	flex-direction: column;
	padding: 0px 10px;
}

.flexwrap .media-body {
  width: auto;
}

/* xs: 1 */
@media(max-width: 900px) {
	#activity-container .flexwrap {
		width: 100%;
	}
}

/* sm: 2 */
@media(min-width: 900px) and (max-width: 1230px) {
	#activity-container .flexwrap {
		width: 50%;
	}
}

/* md: 3 */
@media(min-width: 1230px) and (max-width: 2000px) {
	#activity-container .flexwrap {
		width: 33.3%;
	}
}

/* lg: 4 */
@media(min-width: 2000px) {
	#activity-container .flexwrap {
		width: 25%;
	}
}

.ql-editor p, .ql-editor ol, .ql-editor ul {
  margin-bottom: 1rem;
  padding-left: 0;
}
