---
# This is a Docker Compose file.
# See the docs at https://docs.docker.com/compose/
version: "3"
services:
  redis:
    image: 'bitnami/redis'
    environment:
      # ALLOW_EMPTY_PASSWORD is recommended only for development.
      - ALLOW_EMPTY_PASSWORD=yes
      - REDIS_DISABLE_COMMANDS=FLUSHDB,FLUSHALL
    volumes:
      - 'redis_data:/bitnami/redis/data'

  postgres-db:
    image: postgres:13
    restart: always
    environment:
      POSTGRES_USER: koala
      POSTGRES_PASSWORD: "koala123"
      POSTGRES_DATABASE: "koala-development"

  koala-development:
    build: .

    command: [ "rails", "server", "--binding", "0.0.0.0" ]

    depends_on:
      - postgres-db
      - redis

    volumes:
      # Mount the sourcecode in the container, so changes end up in the
      # container. We don't want writes to end up on the host, so we mount
      # folders as read-only. When changing files that aren't included here, the
      # container has to be restarted.
      - ./app:/app/app
      - ./db:/app/db
      - ./bin:/app/bin
      - ./lib:/app/lib
      - ./test:/app/test
      - ./vendor:/app/vendor
      - ./.env:/app/.env

    ports:
      - "3000:3000"

volumes:
  redis_data:
    driver: local
