---
# This is a Docker Compose file.
# See the docs at https://docs.docker.com/compose/
version: "3"
services:
  redis:
    image: 'bitnami/redis:5.0'
    environment:
      # ALLOW_EMPTY_PASSWORD is recommended only for development.
      - ALLOW_EMPTY_PASSWORD=yes
      - REDIS_DISABLE_COMMANDS=FLUSHDB,FLUSHALL
    ports:
      - '6379:6379'
    volumes:
      - 'redis_data:/bitnami/redis/data'

  postgres-db:
    image: postgres:13
    restart: always
    environment:
      POSTGRES_USER: koala
      POSTGRES_PASSWORD: "koala123"

    ports:
      - "5432:5432"

volumes:
  redis_data:
    driver: local
