.row
  .text-center.mx-auto.dark:text-white
    = link_to (I18n.t 'devise.registrations.password_recovery'), new_user_password_path
    |
    = link_to (I18n.t 'devise.registrations.sign_up'), (public_url subdomain: "wordlid")

