Hoi #{name},

Er is een nieuw wachtwoord aangevraagd voor je Sticky account, of je hebt geprobeerd een nieuwe account aan te maken.

Klik
= link_to edit_password_url, 'hier'
om een nieuw wachtwoord in te stellen of negeer deze e-mail als je je huidige wachtwoord wil behouden.

Met vriendelijke groet
