- content_for(:page, 'home')

%section#content
  .page
    .row 
      .col-lg-3.col-xsm-6
        %a.panel.mini-box.clickable{href: '/members'}
          %span.box-icon.bg-success
            %i.fa.fa-user
          .box-info
            %p.size-h2 
              = @members
            %p.text-muted Leden
      .col-lg-3.col-xsm-6
        %a.panel.mini-box.clickable{href: '/activities'}
          %span.box-icon.bg-info
            %i.fa.fa-ticket
          .box-info
            %p.size-h2
              = @activities
            %p.text-muted Activiteiten
      .col-lg-3.col-xsm-6
        %a.panel.mini-box.clickable{href: '/mongoose'}
          %span.box-icon.bg-warning
            %i.fa.fa-shopping-cart
          .box-info
            %p.size-h2
              = @sales
            %p.text-muted Mongoose verkopen
      .col-lg-3.col-xsm-6
        %a.panel.mini-box.clickable{href: '#'}
          %span.box-icon.bg-danger
            %i.fa.fa-eur
          .box-info
            %p.size-h2 
              = @unpayed
            %p.text-muted Openstaande betalingen
    %section.panel.panel-default
      .panel-heading
        %span.glyphicon.glyphicon-th
        Blank Page
      .panel-body
        %p Content goes here