- content_for(:page, 'apps')
- content_for(:subpage, 'stock management')

- content_for(:title, 'Apps | Stocky')

%section#content
  = render 'layouts/partials/search'

  - @products.each do |product|
    %strong= product.name
    .storage= product.storage_stock
    .chamber= product.chamber_stock
