- content_for(:page, 'activities')
- content_for(:title, 'Activiteiten')

#activity-container{:data => {:view => 'index'}}
  - unless @activities.any?
    .alert.alert-warning
      Er zijn op het moment geen activiteiten waar je je voor kunt inschrijven.

  - @activities.each do |activity|
    .flexwrap
      = render 'members/activities/partials/view', activity: activity, view: 'index'

= link_to 'mailto:pleasedotheneedful@svsticky.nl' , class: 'btn btn-danger helpme' do
  %i.fa.fa-bug
  BUG!

= render 'layouts/partials/poster_modal', view: 'index'
