.offset-lg-3.col-lg-6
  .card.text-center
    .card-body
      %h5.card-text= I18n.t(:activity_ended, scope: 'activerecord.errors.models.activity')
      %hr
      = link_to I18n.t("members.activities.back_to_overview"), :activities, :class => 'btn btn-primary'
