- content_for(:page, 'apps')
- content_for(:subpage, 'ideal')

- content_for(:title, 'Constipated koala | iDeal') 

%section#content
  = render 'layouts/search'

  .page.page-form{ :data => { 'authenticity_token' => form_authenticity_token}}
    .row
      .col-md-12
        .panel.panel-default
          .panel-heading
            %i.fa.fa-fw.fa-fw.fa-credit-card
            iDeal transacties
          .table-responsive
            %table.table.table-bordered.table-striped.table-linked

              - @transactions.each do |transaction|
                %tr
                  %td
                    = transaction.member