.btn-group{style: "margin-left: 20px;"}
  = link_to :stocky_stock do
    %button.btn.btn-primary{type: "button"}
      Voorraad
  = link_to :stocky_purchases do
    %button.btn.btn-primary{type: "button"}
      Inkoop
  = link_to :stocky_sales do
    %button.btn.btn-primary{type: "button"}
      Verkoop
