/* #pricesum, #paidsum {
  float: right;
}

#paymentmails tr > td {
  width: 85%;
}

#paymentmails tr > td,
#participants tr > td {
  padding: 0 0 0 8px;
  vertical-align: middle;
}

#participants .in-debt, #participants .in-debt a {
    color: #e94b3b;
}

#participants tr > td > a {
  line-height: 36px;
  height: 36px;
  width: 100%;
}

#participants .price-input-td {
  padding: 0;
  min-width: 10%;
  width: 10%;
}

#participants tr > td > input {
  height: 32px;
  width: 100%;
  line-height: 32px;
  margin: 5px 0;
  padding: 1px;
}

#participants .notes-td {
  overflow: hidden;
}

#participants tr > td {
  width: calc(60% - 50px);
}

#participants tr > td > .btn-group {
  height: 30px;
  float: right;
  margin: 2px 0 4px 0;
  padding: 0;
  display: flex;
}

#participants tr > td > .btn-group > button {
  height: 32px;
  line-height: 20px;
  padding: 5px 12px;
}

#participants tr > td > ul.dropdown-menu {
  display: none;
  position: absolute;
  left: 4px;
  top: 30px;
}

#participants tr > td > ul.dropdown-menu > li:not(.active) > a:hover {
  background-color: white;
  color: #767676;
}

@media (min-width: 768px) {
  form .form-group.poster {
    width: calc(100% - 210px);
    position: relative;
    left: 210px;
  }

  form .droparea {
    position: absolute;
    top: 5px;
    left: 5px;
    right: 5px;
    bottom: 55px;
    border: 2px dashed #767676;
    z-index: 10;
    background: rgba(255, 255, 255, 0.7);
    display: none;
  }

  form .poster {
    max-height: 255px;
    max-width: 180px;
  }
}

@media (min-width: 768px) and (max-width: 991px) {
  form span.poster {
    top: 154px;
  }
}

#mail > #textarea, #mail > textarea#html {
  font-family: arial;
  font-size: medium;
  color: #222;
  width: 100%;
  min-height: 300px;
  margin-bottom: 10px;
  overflow-y: scroll;
  display: none;
}

#mail.html > textarea#html {
  display: block;
}

#mail:not(.html) > #textarea {
  display: block;
}

#activity_table {
  table-layout: fixed;
  overflow: hidden;
} */
