.panel-heading {
  height: 39px;
  padding-top: 0;
  line-height: 39px;
}

table.table.table-linked > tbody > tr:hover > td > a {
  text-decoration: none;
}

table.table.table-linked > tbody > tr > td > a:hover {
  text-decoration: underline;
}

.date-input {
  display: inline-block;
}

.date-input input {
  font-weight: bold;
  font-size: 14px;
  line-height: 14px;

  margin-left: 5px;
  display: inline-block;
  position: relative;
  padding: 5px;

  border: solid 1px rgb(118, 118, 118);
  border-radius: 5px;
  outline: none;
  background: transparent;
}

tr.total {
  font-weight: bold;
  border-top: 2px solid #dddddd;
}

/* Members - [Member] - Checkout */
div#credit.input-group {
  width: 270px;
  display: inline;
}

div#credit.input-group > span.input-group-btn > button,
div#credit.input-group > span {
  float: right;
  margin-top: 2px;
}

div#credit.input-group > *,
div#credit.input-group > * > * {
  display: inline-block;
}

div#credit.input-group > .input-symbol > span {
  position: absolute;
  pointer-events: none;
  margin-left: 0.2em;
  margin-top: 1px;
  width: 80px;
  color: grey;
}
div#credit.input-group > .input-symbol  > input {
  text-indent: 0.7em;
  width: 80px;
}
div#credit.input-group > select {
  background-color: white;
  height: 32px;
}

/* Apps - Checkout - Opwaarderen */
#credit form.form-inline > .form-group {
  padding: 0px;
}

@media (min-width: 768px) {
  #credit form.form-inline > .form-group {
    display: block;
  }
}

@media (min-width: 992px) {
  #credit form.form-inline > .form-group.amount {
    margin-left: 3.33%;
    width: 30%;
  }
}

#credit form.form-inline > .form-group > select.form-control,
#credit form.form-inline > .form-group > input.form-control,
#credit form.form-inline > .form-group > button.form-control {
  width: 100%;
  height: 30px;
  margin: 5px 0;
  padding: 1px 12px;
}


#credit .panel-body > ul.dropdown-menu {
  display: none;
  position: absolute;
  left: 0px;
  top: 50px;
}

.table span.fa-sort-asc {
  color: green;

  position: relative;
  top: 6px;
}

.table span.fa-sort-desc {
  color: red;
}

tr.inactive {
  text-decoration: line-through;
}

p.uuid {
  margin-bottom: 0px;
}

.ui-select.year {
  width: 110px;
  margin-left: 5px;
}

.ui-select.year select {
  font-size: 14px;
  line-height: 14px;
}

a.col-md-4, a.col-md-4:hover {
  text-decoration: none;
}

a.panel:hover {
  text-decoration: none;
}
