.panel-heading {
  height: 39px;
  padding-top: 0;
  line-height: 39px;
}

table.table.table-linked > tbody > tr:hover > td > a {
  text-decoration: none;
}

table.table.table-linked > tbody > tr > td > a:hover {
  text-decoration: underline;
}

.date-input {
  display: inline-block;
}

.date-input input {
  font-weight: bold;
  font-size: 14px;
  line-height: 14px;
  margin-left: 5px;
  display: inline-block;
  position: relative;
  padding: 5px;
  outline: none;
  background: transparent;
}

.update-side-bar {
  position: fixed;
  right: 0;
  max-height: calc(100% - 70px);
  top: 65px;
  width: calc(50% - 100px);
  overflow-y: scroll;
}

.new-product {
  width: 36.5px;
  height: 36.5px;
  font-size: 30px;
  padding: 0;
  line-height: 30px;
  float: right;
}

.card-header-text {
  float: left;
  line-height: 36.5px;
}

.edit-product-form, .edit-product-form-lower {
  margin-left: 158px;
}

.save-btn {
  margin-top: 20px;
  float: right;
}

@media (min-width: 768px) {
  form .panel-body {
    position: relative;
  }

  form span.thumb {
    position: absolute;
    top: 67px;
    height: 128px;
    width: 128px;
    overflow: hidden;
  }

  table.table.table-linked > tbody > tr > td.text-right {
    padding-right: 30px;
  }
}

@media (max-width: 1400px) {
  .product-cards {
    flex-flow: wrap-reverse;
  }

  .col-md-8, .col-md-4 {
    max-width: 100%;
    flex: none;
  }

  .edit-product-form-lower {
    margin-left: 0px;
  }
}

@media (max-width: 1030px) {
  .update-side-bar {
    position: relative;
    float: left;
    width: 100%;
    padding: 0;
    top: inherit;
  }

  .col-md-6 {
    max-width: 100%;
    flex: none;
  }
}

tr.total {
  font-weight: bold;
}

.table span.fa-sort-asc {
  color: green;
  position: relative;
  top: 6px;
}

.table span.fa-sort-desc {
  color: red;
}

tr.inactive {
  text-decoration: line-through;
}

p.uuid {
  margin-bottom: 0;
}

.ui-select.year {
  width: 110px;
  margin-left: 5px;
}

.ui-select.year select {
  font-size: 14px;
  line-height: 14px;
}

a.col-md-4, a.col-md-4:hover {
  text-decoration: none;
}

a.panel:hover {
  text-decoration: none;
}

.new-product a {
  color: #fff;
  text-decoration: none;
}