.panel-heading {
  height: 40px;
  padding-top: 0;
  line-height: 40px;
}

.ui-select.year {
  position: relative;
  top: -2px;
  width: 110px;
  margin-left: 5px;
}

.ui-select.year select {
  font-size: 14px;
  line-height: 14px;
}

table.table#members tr {
  height: 40px;
  line-height: 40px;
}

table.table#members tr td {
  padding: 0;
  width: 50%;
}

table.table#members tr td a, table.table#members tr td span {
  height: 34px;
  line-height: 34px;
  margin: 2px;
  margin-left: 10px;
}

table.table#members tr td input {
  height: 34px;
  width: calc(100% - 4px);
  position: relative;
  top: 1px;
  margin: 2px;
}

table.table#members tr td:nth-child(2) {
  width: calc(50% - 50px);
}

table.table#members tr td.buttons {
  width: 30px;
}

table.table#members tr td.buttons button {
  position: relative;
  top: 4px;
  margin-right: 2px;
}

li.active {
  color: #fff;
  background: #008cba;
  cursor: pointer
}
