div.clickable {    
  overflow: hidden;
  height: 105px;
  margin-bottom: 10px;
}

div.clickable > .panel {
  margin: 0px;
}

div.clickable > .panel:hover {
  height: 105px;
  text-decoration: none;
  border-color: #767676;
}

