input.invalid, select.invalid, textarea.invalid {
  border: solid red 1px;
}

table.table.table-linked > tbody > tr:hover > td > a {
  text-decoration: underline;
}

table.table.table-linked > tbody > tr > td {
  padding: 10px;
}

table.table.table-linked > tbody > tr > td > a {
  display: block;
  height: 100%;
  width: 100%;
  overflow: hidden;
}

table.table > tbody > tr > td > a.inline {
  display: inline;
}

table.table > tbody > tr > td > a.inline::after {
  content: ", ";
}

table.table > tbody > tr > td > a.inline:last-child::after {
  content: "";
}

table.table > tbody > tr.red, table.table > tbody > tr.red a {
  color: #e94b3b;
}

.ui-select > select {
  text-transform: capitalize;
  width: 100%;
}

label.ui-checkbox.btn {
  margin: 0;
  padding: 0;
  overflow: hidden;
  width: 34px;
  height: 34px;
}

label.ui-checkbox.btn input {
  position: absolute;
  top: 6px;
  left: 10px;
  display: block;
}

aside a[href='#'] {
  cursor: default;
}

.table-footer {
  margin: 0 !important;
  padding: 5px;
  border-top: 2px solid #dddddd;
}

.table-footer ul.pagination-sm.pagination {
  margin: 0;
}

ul.pagination {
  justify-content: center !important;
  -webkit-box-pack: center !important;
  -ms-flex-pack: center !important;
}

.table-footer .page-num-info {
  top: 5px;
}

.mini-box{
    width: 25px;
}

.form-group label{
    font-size: 15px;
}
.form-group button{
    font-size: 15px;
}

@media (min-width: 768px) {
  form .form-group.poster {
    width: calc(100% - 210px);
    position: relative;
    left: 210px;
  }

  form .droparea {
    position: absolute;
    top: 5px;
    left: 5px;
    right: 5px;
    bottom: 55px;
    border: 2px dashed #767676;
    z-index: 10;
    background: rgb(255,255,255); /* Fallback color */
    background: rgba(255, 255, 255, 0.7);
    display: none;
  }

  form .thumb {
    position: absolute;
    top: 96px;
    height: 255px;
    width: 180px;
    border: solid 1px #cbd5dd;
    overflow: hidden;
  }
}

div.form-group.copyable {
  position: relative;
}

div.form-group.copyable > div.row > div.col-md-6 {
  width: calc(50% - 40px);
  padding-right: 0;
  float: left;
}

div.form-group.copyable > a.destroy {
  position: absolute;
  right: 0;
  top: 0;
  border-color: #cbd5dd;
  line-height: 54px;
  height: 68px;
  width: 48px;
}

.table span.fa-sort-asc {
  color: green;
  position: relative;
  top: 6px;
}

.table span.fa-sort-desc {
  color: red;
}

dd span.label {
  position: absolute;
  left: 300px;
  padding: .2em .6em .3em;
}

@media (max-width: 768px) {
  dd span.label {
    left: 120px;
  }
}

div.clickable {
  overflow: hidden;
  height: 105px;
  margin-bottom: 10px;
}

.table{
    font-size: 15px;
}

.table span.fa-sort-asc {
  color: green;
  position: relative;
  top: 6px;
}

.table span.fa-sort-desc {
  color: red;
}

.is-table-row {
  display: table;
}

.is-table-row [class*="col-"] {
  float: left;
  display: table-cell;
  vertical-align: top;
}

i.fa.fa-homepage {
  display: inline-flex;
  font-size: 3em;
  margin-top: 20px;
  color: white;
}

span.box-icon {
  display: inline-block;
  text-align: center;
  width: 100%;
  height: 100%;
}

.box-info {
  position: absolute;
  left: 100px;
  right: 0;
}

.box-info .size-h2 {
  font-size: 1em;
  text-align: center;
}

.box-info p {
  margin-bottom: 0;
}

.box-info .text-muted{
  font-size: 0.9em;
  text-align: center;
}

span.box-icon {
  width: 100px;
  height: 100px;
  display: inline-block;
}

.box-icon i {
  line-height: 100px;
  vertical-align: middle;
  margin-top: 0 !important;
}
