li.list-group-item {
  display: inline-table;
  width: 100%;
  padding: 10px 0;
}

li.list-group-item input {
  width: 100%;
  line-height: 25px;
  margin-top: 3px;
}

tr td a {
  display: inline;
}

#advertisements tr {
  height: 48px;
}

#advertisements tr > td {
  padding: 4px 0 0 8px;
  width: calc(100% - 100px);
  border: 0;
}

#advertisements tr > td.buttons {
  width: 100px;
}

#advertisements tr > td > input {
  height: 32px;
  line-height: 32px;
  margin: 5px 0;
  padding: 1px;
}

#advertisements tr > td > .btn-group {
  height: 30px;
  float: right;
  margin: 5px 0;
  margin-right: 5px;
  padding: 0;
}

#advertisements tr > td > .btn-group > button {
  height: 32px;
  line-height: 20px;
  padding: 5px 12px;
}

#advertisements .form-group {
  margin: 5px 0;
}

#advertisements .form-group .input-group .input-group-btn {
  right: 4px;
}

#advertisements .form-group .input-group input.form-control {
  left: 5px;
  width: calc(100% - 15px);
  height: 33px;
  line-height: 33px;
}
