li.list-group-item {
  display: inline-table;
  width: 100%;
  padding: 10px 0;
}

li.list-group-item input {
  width: 100%;
  line-height: 25px;
  margin-top: 3px;
}

tr td a {
  display: inline;
}

