!!!
%html
  %head
    %meta{:content => "text/html; charset=UTF-8", "http-equiv" => "Content-Type"}
    %title Constipated koala | calendar
    %meta{:content => "IE=edge", "http-equiv" => "X-UA-Compatible"}
    %meta{:content => "width=device-width, initial-scale=1", :name => "viewport"}

    :css
      html { font-family: sans-serif; min-height: 100%; text-align: center; background-color: rgb(243, 243, 243)}
      body { margin: 0px; height: calc(100% - 10px); position: absolute; top: 10px; overflow: hidden; width: 100%;}
      h1 { position: relative; top: 10px; font-size: 2em; }
      .btn-lg, .btn-group-lg > .btn { padding: 10px 16px; font-size: 18px; line-height: 1.33; border-radius: 2px; }

      .page-err { width: 100%; height: 100%; background-color: rgb(31, 141, 209); }
      .page-err .err-status { background-color: rgb(243, 243, 243); }
      .page-err .err-status h1 { margin: 100px 0px -45px; color: rgb(28, 126, 187); font-size: 200px; }
      .page-err .err-message { padding: 60px 24px; text-transform: uppercase; background-color: rgb(28, 126, 187); }
      .page-err .err-body { padding: 100px 10px 20px;}
      .page-err .btn { color: white; border-color: white; background-color: transparent; font-weight: light; }
      .page-err .btn:hover { color: rgb(31, 141, 209); background-color: white; }

      .btn {
        text-decoration: none;
        display: inline-block;
        margin-bottom: 0;
        font-weight: normal;
        text-align: center;
        vertical-align: middle;
        -ms-touch-action: manipulation;
        touch-action: manipulation;
        cursor: pointer;
        background-image: none;
        border: 1px solid transparent;
        white-space: nowrap;
        padding: 6px 12px;
        font-size: 14px;
        line-height: 1.42857;
        border-radius: 2px;
        -webkit-user-select: none;
        -moz-user-select: none;
        -ms-user-select: none;
        user-select: none;
      }

      .btn-lg {
        padding: 10px 16px;
        font-size: 18px;
        line-height: 1.33;
        border-radius: 2px;
      }

      .btn svg {
        height: 22px;
        width: auto;
        position: relative;
        top: 2px;
        margin-right: 5px;
      }


  %body
    .page-err
      .err-status
        %h1 kalender
      .err-message
        = link_to "#{calendar_path}.ics", { :class => 'btn btn-lg'} do
          %svg{ :viewbox => "0 0 448 512", :xmlns => "http://www.w3.org/2000/svg" }
            %path{:d => "M336 292v24c0 6.6-5.4 12-12 12h-76v76c0 6.6-5.4 12-12 12h-24c-6.6 0-12-5.4-12-12v-76h-76c-6.6 0-12-5.4-12-12v-24c0-6.6 5.4-12 12-12h76v-76c0-6.6 5.4-12 12-12h24c6.6 0 12 5.4 12 12v76h76c6.6 0 12 5.4 12 12zm112-180v352c0 26.5-21.5 48-48 48H48c-26.5 0-48-21.5-48-48V112c0-26.5 21.5-48 48-48h48V12c0-6.6 5.4-12 12-12h40c6.6 0 12 5.4 12 12v52h128V12c0-6.6 5.4-12 12-12h40c6.6 0 12 5.4 12 12v52h48c26.5 0 48 21.5 48 48zm-48 346V160H48v298c0 3.3 2.7 6 6 6h340c3.3 0 6-2.7 6-6z", :fill => "currentColor"}
          toevoegen aan kalender
      .err-body
