.page {
  padding: 15px;
}

#content {
  position: absolute;
  top: 50px;
  right: 0;
  bottom: 0;
  width: auto;
  overflow-y: auto;
  background-color: #f3f3f3;
}

#content {
  left: 0px;
}

@media (min-width: 768px) {
  #content {
    left: 240px;
  }
}
