- content_for(:page, 'groups')
- content_for(:title, I18n.t('admin.navigation.group'))

%section#content

  .page.page-form{ :data => { 'authenticity_token' => form_authenticity_token} }
    .row
      .col-md-6{ :class => ( 'd-sm-block' unless @group.nil?) }
        = render 'admin/groups/partials/index', group: @group, groups: @groups

      .col-md-6
        = render 'admin/groups/partials/edit', group: @group
