- content_for(:page, 'groups')
- content_for(:title, 'Groepen')

= render 'admin/groups/group.html.js'

%section#content
  = render 'layouts/search'

  .page.page-form{ :data => { 'authenticity_token' => form_authenticity_token} }
    .row
      .col-md-6{ :class => ('hidden-xs' unless @group.nil?) }
        = render 'layouts/group/index', group: @group, groups: @groups

      .col-md-6
        = render 'layouts/group/edit', group: @group
