- content_for(:page, 'groups')
- content_for(:title, 'Groepen')

%section#content

  .page.page-form
    .row
      .col-md-6{ :class => ( 'd-sm-block' unless @group.nil?) }
        = render 'admin/groups/partials/index', group: @group, groups: @groups

      .col-md-6
        = render 'admin/groups/partials/edit', group: @group

        = render 'admin/groups/partials/view', group: @group
