#participants tr > td {
  padding: 0px;
  padding-left: 8px;
}

#participants tr > td > a {
  line-height: 36px;
  
  height: 36px;
  width: 100%;
}

#participants tr > td > input {
  height: 30px;
  line-height: 30px; 
  
  margin: 5px 0;
  margin-left: 6px;
  
  padding: 1px;
}

#participants tr > td > .btn-group {
  height: 30px;
  
  float: right;
   
  margin: 5px 0; 
  margin-right: 5px;
  padding: 0;
}

#participants tr > td > .btn-group > button{
  height: 32px;
  line-height: 20px;
  
  padding: 5px 12px;
}

#participants tr > td > ul.dropdown-menu {
  display: none; 
  position: absolute; 
  left: 4px; 
  top: 30px;
}

#mail > #textarea, #mail > textarea#html {
  font-family: arial;
  font-size: medium;
  
  color: #222;
  
  width: 100%;
  min-height: 200px;
 
  margin-bottom: 10px;
  overflow-y: scroll;
  
  display: none;
}

#mail.html > textarea#html {
  display: block;
}

#mail:not(.html) > #textarea {
  display: block;
}