#activities tr > td {
  padding: 0px;
  padding-left: 8px;
}

#activities tr > td > a {
  line-height: 36px;
  
  height: 36px;
  width: 100%;
}

#activities tr > td > input {
  height: 30px;
  line-height: 30px; 
  
  margin: 5px 0;
  margin-left: 6px;
  
  padding: 1px;
}

#activities tr > td > .btn-group {
  height: 30px;
  
  float: right;
   
  margin: 5px 0; 
  margin-right: 5px;
  padding: 0;
}

#activities tr > td > .btn-group > button{
  height: 32px;
  line-height: 20px;
  
  padding: 5px 12px;
}

#activities tr > td > ul.dropdown-menu {
  display: none; 
  position: absolute; 
  left: 4px; 
  top: 30px;
}