/*
 * This is a manifest file that'll be compiled into application.scss, which will include all the files
 * listed below.
 *
 * Any CSS and SCSS file within this directory, lib/assets/stylesheets, vendor/assets/stylesheets,
 * or vendor/assets/stylesheets of plugins, if any, can be referenced here using a relative path.
 *
 * You're free to add application-wide styles to this file and they'll appear at the top of the
 * compiled file, but it's generally better to create a new file per style scope.
 *
 *= require_self
 *= require font-awesome
 *= require lato
 *
 *= require bootstrap
 *= require flatify
 */

.panel > .table-striped > tbody > tr:nth-child(even) > td,
.panel > .table-striped > tbody > tr:nth-child(even) > th {
  background-color: #f9f9f9;
}

.panel > .table-striped > tbody > tr:nth-child(even) > td,
.panel > .table-striped > tbody > tr:nth-child(even) > th {
  background-color: #fff;
}

input.invalid, select.invalid, textarea.invalid {
  border: solid red 1px;
}

table.table.table-linked > tbody > tr:hover > td > a {
  text-decoration: underline;
}

table.table.table-linked > tbody > tr > td {
  padding: 10px;
}

table.table.table-linked > tbody > tr > td > a {
  display: block;
  height: 100%;
  width: 100%;
  overflow: hidden;
}

table.table > tbody > tr > td > a.inline {
  display: inline;

  &::after {
    content: ', '
  }

  &:last-child::after {
    content: ''
  }
}

table.table > tbody > tr.red, table.table > tbody > tr.red a {
  color: #e94b3b;
}

.ui-select > select {
  text-transform: capitalize;
  width: 100%;
}

label.ui-checkbox.btn {
  margin: 0px;
  padding: 0px;
  overflow: hidden;
  width: 34px;
  height: 34px;
}

label.ui-checkbox.btn input {
  position: absolute;
  top: 6px;
  left: 10px;
  display: block;
}

aside a[href='#'] {
  cursor: default;
}

.table-footer {
  margin: 0 !important;
  padding: 5px;
  border-top: 2px solid #dddddd;

  ul.pagination-sm.pagination {
    margin: 0;
  }

  .page-num-info {
    top: 5px;
  }
}

.panel-heading.input {
  padding: 3px 15px 2px;
  height: 40px;
  line-height: 40px;

  .input-group {
    float: right;
    height: 30px;
    width: 150px;
    top: -3px;
    right: -10px;

    span.input-group-addon {
      display: initial;
      top: -1px;
      position: relative;
      height: 36px;
    }

    input {
      height: 32px;
      line-height: 23px;
      width: 120px;
    }

    button {
      height: 32px;
      line-height: 18px;
    }

  }
}

.panel-heading.year {
  padding: 3px 15px 2px;

  .ui-select {
    width: 110px;
    margin-left: 5px;

    select {
      font-size: 14px;
      line-height: 14px;
    }
  }
}


@media (min-width: 768px) {
  form .form-group.poster {
    width: calc(100% - 210px);
    position: relative;
    left: 210px;
  }

  form .panel-body {
    position: relative;
  }

  form .droparea {
    position: absolute;

    top: 5px;
    left: 5px;
    right: 5px;
    bottom: 55px;

    border: 2px dashed #767676;

    z-index: 10;
    background: rgba(255, 255, 255, 0.7);

    display: none;
  }

  form .thumb {
    position: absolute;
    top: 96px;

    height: 255px;
    width: 180px;

    border: solid 1px #cbd5dd;
    overflow: hidden;
  }
}

