/*
 * This is a manifest file that'll be compiled into application.scss, which will include all the files
 * listed below.
 *
 * Any CSS and SCSS file within this directory, lib/assets/stylesheets, vendor/assets/stylesheets,
 * or vendor/assets/stylesheets of plugins, if any, can be referenced here using a relative path.
 *
 * You're free to add application-wide styles to this file and they'll appear at the top of the
 * compiled file, but it's generally better to create a new file per style scope.
 *
 *= require yeti
 *= require @fortawesome/fontawesome-free/css/all
 *= require lato
 *
 *= require_self
 *= require toastr/build/toastr.min
 *= require_tree ./application
 */

.page {
  padding: 15px;
}

.search .panel button {
  width: 100px;
}

#content {
  position: absolute;
  top: 50px;
  right: 0;
  bottom: 0;
  width: auto;
  overflow-y: auto;
  background-color: #f3f3f3;
  left: 0px;
}

@media (min-width: 768px) {
  #content {
    left: 240px;
  }
}


label {
    margin-bottom: 0;
    margin-top: 0.5rem;
}

a.table-row {
  display: table-row;
}

td > select.custom-select {
  position: relative;
  top: -2px;
}

td.py-0 > button {
  margin: 3px 0px;
}

div.card-header {
  a.btn {
    position: absolute;
    right: 8px;
    height: 30px;
    width: 30px;
    line-height: 17px;
    top: 8px;
    font-weight: 400;
  }

 .custom-select {
    position: absolute;
    right: 5px;
    top: 5px;

    max-width: 200px;
    width: 50%;
  }

  .form-group {
    margin-bottom: 0;
    float: right;
    margin: -0.75rem -1.25rem;
    padding: 5px;

    .input-group, .input-group-btn, .custom-select {
      position: relative;
      top: 0px;
      right: 0px;
      width: 100px;

      display: inline-block;
    }

    .input-group {
      display: inline-flex;
      position: relative;
      top: 1.5px;
    }

    .input-group-btn {
      width: auto;
    }
  }
}

ul.pagination {
  margin-bottom: 0px;

  li:first-child.page-item.disabled, li:last-child.page-item.disabled  {
    visibility: hidden;
  }
}
