/*
 * This is a manifest file that'll be compiled into application.scss, which will include all the files
 * listed below.
 *
 * Any CSS and SCSS file within this directory, lib/assets/stylesheets, vendor/assets/stylesheets,
 * or vendor/assets/stylesheets of plugins, if any, can be referenced here using a relative path.
 *
 * You're free to add application-wide styles to this file and they'll appear at the top of the
 * compiled file, but it's generally better to create a new file per style scope.
 *
 *= require yeti
 *
 *= require font-awesome
 *= require lato
 *
 *= require intl_tel_input
 *
 *= require_self
 *= require_tree ./admin
 *= require page
 *= require header
 *= require sidebar
 *= require cards
 */

.page {
  padding: 15px;
}
