/*
 * This is a manifest file that'll be compiled into application.css, which will include all the files
 * listed below.
 *
 * Any CSS and SCSS file within this directory, lib/assets/stylesheets, vendor/assets/stylesheets,
 * or vendor/assets/stylesheets of plugins, if any, can be referenced here using a relative path.
 *
 * You're free to add application-wide styles to this file and they'll appear at the top of the
 * compiled file, but it's generally better to create a new file per style scope.
 *
 *= require_self
 *= require font-awesome
 *
 *= require lato
 *= require style
 */

table.table.table-linked > tbody > tr > td > a {
  display: block;
  height: 100%;
  width: 100%;
}

table.table.table-linked > tbody > tr > td {
	padding: 10px;
}

table.table.table-linked > tbody > tr:hover > td > a {
	text-decoration: underline;
}

table.table > tbody > tr.red, table.table > tbody > tr.red a {
  color: #e94b3b;
}

.ui-select > select {
 text-transform: capitalize;
 width: 100%;
}

#activities tr > td {
  padding: 0px;
  padding-left: 8px;
}

#activities tr > td > a {
  line-height: 36px;
  
  height: 36px;
  width: 100%;
}

#activities tr > td > input {
  heigth: 30px; 
  margin: 5px 0; 
  padding: 1px;
}

#activities tr > td > ul.dropdown-menu {
  display: none; 
  position: absolute; 
  left: 4px; 
  top: 30px;
}