.callout {
    padding: 20px;
    margin: 20px 0;
    border: 0px solid;
    border-left-width: 5px;
}

.callout h4 {
    margin-top: 0;
    margin-bottom: 5px;
}

.callout p:last-child {
    margin-bottom: 0;
}

.callout code {
    border-radius: 3px;
}

.callout+.callout {
    margin-top: -5px;
}

.callout-default {
    border-left-color: #777;
}

.callout-default h4 {
    color: #777;
}

.callout-primary {
    border-left-color: #428bca;
    background-color: #eaf2f9;
}

.callout-primary h4 {
    color: #428bca;
}

.callout-success {
    border-left-color: #5cb85c;
    background-color: #f3faf3;
}

.callout-success h4 {
    color: #5cb85c;
}

.callout-danger {
    border-left-color: #d9534f;
    background-color: #fdf7f7;
}

.callout-danger h4 {
    color: #d9534f;
}

.callout-warning {
    border-left-color: #f0ad4e;
    background-color: #fcf8f2;
}

.callout-warning h4 {
    color: #f0ad4e;
}

.callout-info {
    border-left-color: #46b8da;
    background-color: #f4f8fa;
}

.callout-info h4 {
    color: #46b8da;
}
