/*
 * This is a manifest file that'll be compiled into application.css, which will include all the files
 * listed below.
 *
 * Any CSS and SCSS file within this directory, lib/assets/stylesheets, vendor/assets/stylesheets,
 * or vendor/assets/stylesheets of plugins, if any, can be referenced here using a relative path.
 *
 * You're free to add application-wide styles to this file and they'll appear at the top of the
 * compiled file, but it's generally better to create a new file per style scope.
 *
 *= require_self
 *
 *= require bootstrap
 *= require font-awesome
 */
 
@import url(https://fonts.googleapis.com/css?family=Roboto);

@mixin shadow {
  -webkit-box-shadow: 0 2px 5px 0 rgba(0, 0, 0, 0.16), 0 2px 10px 0 rgba(0, 0, 0, 0.12);
  -moz-box-shadow: 0 2px 5px 0 rgba(0, 0, 0, 0.16), 0 2px 10px 0 rgba(0, 0, 0, 0.12);
  box-shadow: 0 2px 5px 0 rgba(0, 0, 0, 0.16), 0 2px 10px 0 rgba(0, 0, 0, 0.12);
}

body, h1, h2, h3, h4, h5, p, span, div {
  font-family: 'Roboto', sans-serif;
}

.col-xs-1, .col-sm-1, .col-md-1, .col-lg-1, 
.col-xs-2, .col-sm-2, .col-md-2, .col-lg-2, 
.col-xs-3, .col-sm-3, .col-md-3, .col-lg-3, 
.col-xs-4, .col-sm-4, .col-md-4, .col-lg-4, 
.col-xs-5, .col-sm-5, .col-md-5, .col-lg-5, 
.col-xs-6, .col-sm-6, .col-md-6, .col-lg-6, 
.col-xs-7, .col-sm-7, .col-md-7, .col-lg-7, 
.col-xs-8, .col-sm-8, .col-md-8, .col-lg-8, 
.col-xs-9, .col-sm-9, .col-md-9, .col-lg-9, 
.col-xs-10, .col-sm-10, .col-md-10, .col-lg-10, 
.col-xs-11, .col-sm-11, .col-md-11, .col-lg-11, 
.col-xs-12, .col-sm-12, .col-md-12, .col-lg-12 {
  padding: 0px !important; 
}

header {
  display: block;
  min-height: 20px;
  background-color: #1565c0;
}

section {  
  &.dark .panel {
    background-color: #1565c0;    
    color: white;
  }
  
  &.light .panel {
    background-color: #64b5f6;
    color: white;
  }
  
  .panel {
    @include shadow;
    
    margin-bottom: 5px;
    padding: 10px 0;
    
    border: 0px;
    border-radius: 0px;
  }
  
  z-index: 1;
}

h1 {
  font-size: 24px;
  font-weight: bold;
}

.img-circle {
  @include shadow;
}

.button.btn {
  @include shadow;
  
  height: 40px;
  width: 100%;
  
  line-height: 28px;
  
  border: 0px;
  border-radius: 0px;
  
  margin: 1px 0px 5px 0px;
  
  &.btn-primary{
    background-color: #64b5f6;
    
    &:hover {
      background-color: #90caf9;
    }
  }
  
  &.btn-info {
    background-color: white;
    color: #757575;
    border: solid 1px #e0e0e0;
    
    &:hover {
      background-color: #e3f2fd;
    }
  }
  
  -webkit-user-select: none;
  -moz-user-select: none;
  -ms-user-select: none;
  user-select: none;

  -webkit-tap-highlight-color: transparent;
  vertical-align: middle;
  z-index: 1;

  will-change: opacity, transform;
  -webkit-transition: all .3s ease-out;
  -moz-transition: all .3s ease-out;
  -o-transition: all .3s ease-out;
  -ms-transition: all .3s ease-out;
  transition: all .3s ease-out;
  
  &:hover {
    -webkit-box-shadow: 0 5px 11px 0 rgba(0, 0, 0, 0.18), 0 4px 15px 0 rgba(0, 0, 0, 0.15);
    -moz-box-shadow: 0 5px 11px 0 rgba(0, 0, 0, 0.18), 0 4px 15px 0 rgba(0, 0, 0, 0.15);
    box-shadow: 0 5px 11px 0 rgba(0, 0, 0, 0.18), 0 4px 15px 0 rgba(0, 0, 0, 0.15);
  }
}