/*
 * This is a manifest file that'll be compiled into application.css, which will include all the files
 * listed below.
 *
 * Any CSS and SCSS file within this directory, lib/assets/stylesheets, vendor/assets/stylesheets,
 * or vendor/assets/stylesheets of plugins, if any, can be referenced here using a relative path.
 *
 * You're free to add application-wide styles to this file and they'll appear at the top of the
 * compiled file, but it's generally better to create a new file per style scope.
 *
 *= require_self
 *
 *= require font_awesome5_webfont 
 *= require bootstrap/dist/css/bootstrap
 *= require yeti
 */
@import url(https://fonts.googleapis.com/css?family=Roboto);

html,
body {
  display: block;
  position: relative;
  height: 100%;
  width: 100%;
}

h1,
h2,
h3,
h4,
p,
a,
.text-center {
  font-family: "Roboto", sans-serif;
}

a {
  color: white !important;
}

span.input-group-text {
  background-color: white;
}

div.container-fluid {
  background-color: #f34541;
  height: 100%;
  width: 100%;
  margin: 0;
  padding: 0;
}

div.container-fluid h1,
div.container-fluid h2 {
  position: absolute;
  bottom: 30px;
  width: 100%;
  font-size: 2.5em;
  font-weight: 100;
  color: white;
}

div.container-fluid h2 {
  bottom: 0;
  font-size: 1.1em;
  font-weight: 200;
}

div.container-fluid h3 {
  font-size: 1.8em;
  font-weight: 200;
}

div.container-fluid h4 {
  position: relative;
  top: -25px;
  font-size: 1.1em;
  font-weight: 200;
  line-height: 1.3em;
}

div.container-fluid input {
  font-weight: 200;
}

div.container-fluid .text-center {
  font-size: 1em;
  font-weight: 100;
  margin-top: 10px !important;
}

div.container-fluid .row {
  position: relative;
  display: block;
  background-color: #f34541;
  text-align: center;
  width: 100%;
  margin: 0;
  padding: 0.5rem;
}

div.container-fluid .row:nth-child(1) {
  height: 30%;
}

div.container-fluid .row:nth-child(1):after {
  position: absolute;
  display: block;
  left: 50%;
  bottom: -20px;
  margin-left: -4px;
  content: "";
  border-left: 8px solid #f34541;
  border-right: 8px solid #f34541;
  border-bottom: 10px solid white;
  background-color: white;
}

div.container-fluid .row:nth-child(2) {
  background-color: white;
  margin: 20px 0;
}

div.container-fluid .row > form,
div.container-fluid .row > div {
  display: block;
  background-color: white;
  margin: 2rem auto;
  width: 90%;
}

div.container-fluid .row > div.text-center {
  background-color: #f34541;
  color: white;
}

div.container-fluid .row > div h3 {
  text-align: left;
}

div.container-fluid .row > div p {
  text-align: left;
  margin: 0;
}

div.container-fluid .row > div ul {
  list-style-position: inside;
  padding-left: 5px;
}

div.container-fluid .row > div li {
  text-align: left;
  padding-top: 2px;
}

div.container-fluid .row > div li:after {
  content: ",";
}

div.container-fluid .row > div li:last-child:after {
  content: ".";
}

div.container-fluid .row form div.alert {
  margin: 0 -15px 20px;
}

@media (min-width: 768px) {
  div.container-fluid .row > form,
  div.container-fluid .row > div {
    width: 50%;
  }
}

@media (min-width: 992px) {
  div.container-fluid .row > form,
  div.container-fluid .row > div {
    width: 30%;
  }
}

span.input-group-text i {
  width: 1rem;
}

span.version {
  display: none;
}

@media (min-width: 768px) {
  span.version {
    position: absolute;
    display: block;
    right: 10px;
    bottom: 2px;
    color: rgb(255, 255, 255); /* Fallback color */
    color: rgba(255, 255, 255, 0.8);
  }

  span.version::before {
    content: "v";
  }
}

.remember_label {
  position: relative;
  vertical-align: middle;
  margin: 0 0 0.3rem 0.2rem;
  font-weight: normal;
}
