/*
 *= require font_awesome5_webfont
 *= require bootstrap/dist/css/bootstrap
 *= require intl_tel_input
 *= require_self
 */

.bd-callout {
  padding: 1.25rem;
  margin-top: 1.25rem;
  margin-bottom: 1.25rem;
  border: 1px solid #eee;
  border-left-width: .25rem;
  border-radius: .25rem
}

.bd-callout h4 {
  margin-top: 0;
  margin-bottom: .25rem
}

.bd-callout p:last-child {
  margin-bottom: 0
}

.bd-callout code {
  border-radius: .25rem
}

.bd-callout + .bd-callout {
  margin-top: -.25rem
}

.bd-callout-info {
  border-left-color: #5bc0de
}

.bd-callout-info h4 {
  color: #5bc0de
}

.bd-callout-warning {
  border-left-color: #f0ad4e
}

.bd-callout-warning h4 {
  color: #f0ad4e
}

.bd-callout-danger {
  border-left-color: #d9534f
}

.bd-callout-danger h4 {
  color: #d9534f
}

.bd-callout-primary {
  border-left-color: #007bff
}

.bd-callout-primaryh4 {
  color: #007bff
}

.bd-callout-success {
  border-left-color: #28a745
}

.bd-callout-successh4 {
  color: #28a745
}

.bd-callout-default {
  border-left-color: #6c757d
}

.bd-callout-defaulth4 {
  color: #6c757d
}

// ========

html,
body {
  width: 100%;
  height: 100%;
}

.navbar {
  .nav-item .nav-link {
    color: #000000;

    &.active {
      color: #bb8400 !important;
      font-weight: bold;
    }
  }

  #intro-nav {
    justify-content: space-between;
  }

  .language-select {
    float: right;
  }
}

.header {
  display: flex;
  width: 100%;
  height: 100%;

  & {
    &-bg {
      position: fixed;
      top: 0;
      left: 0;
      z-index: -1;
      width: 100%;
      height: 100%;
      background: image-url("intro_bg.webp") no-repeat center center;
      background-size: cover;
    }

    &-message {
      display: flex;
      align-items: center;
      max-width: 2000px;

      &-container {
        padding: 20px;

        h1 {
          color: #fff;
          text-shadow: #000 0 3px 3px;

          @media (max-width: 992px) {
            font-size: 4.5rem;
          }

          @media (max-width: 768px) {
            font-size: 3.5rem;
          }
        }
      }
    }
  }
}

.about {
  background-color: #ffffff;
}

.services {
  background: #bb8400;
  color: #ffffff;

  .container-fluid {
    max-width: 2000px;
  }

  .service-item {
    margin-bottom: 15px;

    i.service-icon {
      display: inline-block;
      width: 140px;
      height: 140px;
      vertical-align: middle;
      text-align: center;
      font-size: 56px;
      line-height: 136px;
    }
  }
}

.enroll {
  background-color: #ffffff;

  .form-header {
    display: flex;
    align-items: center;
    gap: 15px;

    .form-header {
      &-spacer {
        flex: 1;
        height: 1px;
        background-color: #ced4da;
      }

      &-icon {
        display: flex;
        font-size: 14px;
        background: #bb8400;
        width: 30px;
        height: 30px;
        border-radius: 50%;
        align-items: center;
        justify-content: center;
        color: #ffffff;
      }
    }
  }
}

footer {
  color: #fff;
  background-color: #444;
  padding: 10px 0 10px 0;

  div {
    align-items: center;
  }

  a {
    color: #fff;
    padding: 0 5px 0 5px;

    &:hover {
      color: #777;
      text-decoration: none;
    }
  }
}