/*
 * This is a manifest file that'll be compiled into application.scss, which will include all the files
 * listed below.
 *
 * Any CSS and SCSS file within this directory, lib/assets/stylesheets, vendor/assets/stylesheets,
 * or vendor/assets/stylesheets of plugins, if any, can be referenced here using a relative path.
 *
 * You're free to add application-wide styles to this file and they'll appear at the top of the
 * compiled file, but it's generally better to create a new file per style scope.
 *
 *= require bootstrap/dist/css/bootstrap
 *= require yeti
 *
 *= require font-awesome
 *= require lato
 *
 *= require_self
 *= require_tree ./members
 *= require sidebar
 *= require cards
 */

.panel-activity > .panel-body:nth-child(2) {
  height: 230px;
  overflow: hidden;
  display: flex;
}

.page {
  padding: 15px;
}

#content {
  position: absolute;
  top: 50px;
  right: 0;
  bottom: 0;
  left: 240px;
  width: auto;
  overflow-y: auto;
}

.header {
  height: 50px;
}

.header .logo {
  color: white;
  line-height: 50px;
  position: absolute;
  width: 100%;
  height: 50px;
  text-align: center;
  text-decoration: none;
}

@media (min-width: 768px) {
  .header .logo {
    margin-left: 15px;
    text-align: left;
  }
}

.header .toggle-min {
  display: block;
  z-index: 11;
  position: absolute;
  top: 0px;
  left: 0px;
  line-height: 30px;
  padding: 10px 16px 10px 16px;
  font-size: 18px;
  color: #fff;
}

.header .menu-button:hover {
  cursor: pointer;
  background-color: #181a24;
}
