.image-group {
  position: absolute;
  top: 15px;
  left: 20px;
}

.image-side {
  margin-left: 80px;
}

.preview-avatar {
  margin-top: 20px;
  position: relative;
}

.avatar {
  width: 50px;
  border: 1px solid #000;
  border-radius: 50%;
}

.form-text {
  margin-top: 0;
  margin-left: 0.25rem;
}

.form-check {
  top: 28px;

  input {
    position: relative;
    top: 3px;
  }
}

form.post-content {
  div.ql-editor {
    font-family: "open sans", "Helvetica Neue", Helvetica, Arial, sans-serif;
    min-height: 300px;

    font-size: 13px;
    font-weight: 100;
    color: #676a6d;

    h1, h2, h3, h4, h5, h6 {
      &:not(:first-child) {
        margin-top: 10px;
        margin-bottom: 2px;
      }
    }

    p {
      margin-bottom: 1rem;
    }

    a {
      color: #337ab5;
      text-decoration: none !important;

      &:hover,
      &:focus {
        text-decoration: none;
      }
    }

    ol, ul, dl {
      margin-top: 0;
      margin-bottom: 1rem;
    }
  }

  .ql-toolbar {
    .ql-header .ql-picker-item {
      font-family: "open sans", "Helvetica Neue", Helvetica, Arial, sans-serif;
      font-size: 13px;
      font-weight: 100;

      &[data-value="1"]::before {
        font-size: 1.3em !important;
        font-weight: 700;
      }

      &[data-value="2"]::before {
        font-size: 1.2em !important;
        font-weight: 600;
      }

      &[data-value="3"]::before {
        font-size: 1.17em;
        font-weight: 400;
      }

      &[data-value="4"]::before {
        font-size: 1em;
        font-weight: 300;
      }

      &[data-value="5"]::before {
        font-size: 0.83em;
        font-weight: 300;
      }
    }
  }
}

#posts {
  div.card {
    overflow: visible !important;

    .card-img-overlay {
      padding-right: 0px;
      height: 0px;
      margin-top: -6px;

      span.ribbon {
        position: relative;
        min-width: 86px;
        top: 50px;
        right: -3px;

        float: right;
        clear: right;

        text-align: center;
        font-weight: 400;

        margin-bottom: 2px;
        padding: 2px 10px;
        background-color: #fffaf8;
        z-index: 10;

        border: solid 1px #e7eaec;

        &.success {
          background-color: #5cb85c;
          color: white;
        }

        &.warning {
          background-color: #f0ad4e;
          color: white;
        }
      }
    }
  }
}

#posts, form.post-content #editor {

  div.card {
    margin-bottom: 10px;
    background-color: #ffffff;

    @media (min-width: 768px) {
      margin-bottom: 25px;
    }

    border-color: #e7eaec;
    border-image: none;
    border-style: solid;
    border-width: 1px;

    overflow: hidden;

    .card-header {
      background-color: #ffffff;
      border-bottom: solid 1px #e7eaec;
      border-top: none;
      padding: 11px 15px;
      font-weight: 400;

      color: inherit;
      margin-bottom: 0;

      .post-info {
        float: right;
        text-align: right;
      }

      img {
        width: 50px;
        top: 10px;
        right: 10px;
        float: right;
      }

      h4 {
        margin-bottom: 0px;
        font-size: 1.1em;
        position: relative;
        color: #fe7215;
      }

      h3 {
        padding-top: 5px;
        float: left;
      }

      i {
        width: 20px;
        text-align: center;
        position: relative;
        left: -5px;
      }

      ul {
        margin-bottom: 0px;
        margin-left: 0px;
        padding-left: 0px;

        li {
          display: inline-block;
          font-size: 0.8em;
          font-weight: 100;

          &:not(:first-child) {
            &::before{
              content: "· ";
              font-weight: bold;
            }
          }
        }
      }

      &.avatar-padding {
        h4, ul {
          margin-right: 60px;
        }
      }
    }

    .card-body.content {
      h1, h2, h3, h4, h5, h6 {

        &:not(:first-child) {
          margin-top: 10px;
          margin-bottom: 2px;
        }
      }
    }

    table.card-body {
      margin-bottom: 0;
    }

    .member-card {
      h2 {
        padding-left: 20px;

        i {
          position: absolute;
          left: 17px;
          top: 22px;
        }
      }

      ul {
        position: relative;
        top: -12px;

        margin-bottom: 0px;
        padding-left: 21px;

        li {
          display: inline-block;

          font-size: 0.8em;
          font-weight: 100;

          &:not(:first-child) {
            margin-left: 3px;

            &::before{
              content: "· ";
              font-weight: bold;
            }
          }
        }
      }

      p {
        position: relative;
        margin-left: 20px;
        font-weight: 100;

        i {
          position: absolute;
          left: -20px;
          line-height: 19.5px;
          font-size: 10px;
        }
      }

      .btn-group {
        display: block;
      }
    }

    .card-tools {
      display: block;
      float: none;
      margin-top: 0;
      position: relative;
      padding: 0;
      text-align: right;
    }
  }
}
