/*
 *= require font-awesome
 *= require bootstrap/dist/css/bootstrap
 *= require_self
 */
html, body {
  background: #eee;
}

@media (min-width: 768px) {
  .container-narrow {
    max-width: 730px;
  }
}

.col-md-12:first-child {
  padding-top: 20px;

  a {
    font-size: 1.2em;
    color: #111;
  }
}

.col-md-12 .form-group,
.col-md-12 p {
  padding: 10px 10px 0;
}
