/*
 *= require bootstrap/dist/css/bootstrap
 *= require_self
 */
h2 {
  font-size: 20px;

  span {
    border-bottom: solid 2px #3098CF;
  }
}

dt {
  font-weight: 500;
}

dd {
  margin: 5px 0 30px 20px;
  font-size: 0.95em;
}

.navbar {
  padding: 10px 0 10px 10px;
  margin-bottom: 10px;
  border-bottom: solid 1px #eee;
}

.ui-select {
  position: relative;
  display: inline-block;
  width: 100%;
  height: 34px;
  border-bottom: 1px solid #CBD5DD;
  border-radius: 2px;
}

.ui-select > select {
  z-index: 99;
  display: block;
  position: relative;
  padding: 10px 15px 10px 10px;
  min-width: 200px;
  width: 100%;
  border: none;
  outline: none;
  background: transparent;
  text-transform: uppercase;
  font-size: 11px;
  font-weight: 500;
  line-height: 22px;
  text-indent: 0.01px;
  text-overflow: '';
  cursor: pointer;
  -webkit-appearance: none;
  -moz-appearance: none;
}

.no-padding .ui-select > select {
  text-transform: initial;
  font-size: inherit;
  font-weight: 400;
}

.ui-select select::-ms-expand {
  display: none;
}

.ui-select:after {
  z-index: 0;
  content: "";
  position: absolute;
  right: 5%;
  top: 50%;
  color: #CBD5DD;
  width: 0;
  margin-top: 2px;
  height: 0;
  border-top: 4px solid;
  border-right: 4px solid transparent;
  border-left: 4px solid transparent;
  pointer-events: none;
}
