#sidebar-container {
  display: block;
  position: absolute;
  z-index: 1;
  top: 50px;
  bottom: 0;
  left: 0;
  padding: 0;
}

#sidebar-wrapper {
  min-height: 100%;
  margin-left: -15rem;
  border-right: 2px solid #e5e5e5;
  background-color: #fff;
}

#sidebar-wrapper .list-group {
  width: 100%;
  min-width: 15rem;
}

@media (min-width: 768px) {
  #sidebar-wrapper {
    margin-left: 0;
  }
}

#sidebar-wrapper a {
  position: relative;
  display: block;
  text-align: left;
  text-decoration: none;
  color: #767676;
  font-weight: bold;
  height: 50px;
  padding: 15px;
  border-bottom: 1px solid #e5e5e5;
}

#sidebar-wrapper a > i {
  position: relative;
  display: inline;
  float: left;
  text-align: center;
  height: 50px;
  width: 50px;
  line-height: 50px;
  margin: -15px 10px -15px -15px;
  border-right: 1px solid #e5e5e5;
}

#sidebar-wrapper a > i.active {
  color: #fff;
  background-color: #008cba;
}

.nav-min #sidebar-container {
  width: 100%;
}

.nav-min #sidebar-wrapper {
  margin-left: 0;
}

.nav-min .view-container {
  display: none;
}
