- content_for(:page, 'activities')
- content_for(:title, "Constipated koala | leden | #{@activity.name}")

%section#content
  = render 'layouts/search' 

  .page
    %section.panel.panel-default
      .panel-heading
        %strong Blank Page
      .panel-body
        %p Content goes here 