- content_for(:page, 'unknown')

%section#content{'data-ng-view' => ''}
  .page
    %section.panel.panel-default
      .panel-heading
        %strong Blank Page
      .panel-body
        %p Content goes here