/*
 *= require_self
 *= require sweetalert
 *= require_tree .
 */

.poster-thumbnail img {
  width: 150px;
}

.poster-moreinfo a img {
  width: 500px;
	max-width: 100%;
}

.btn-warning-sat {
  color: white;
  background-color: #ffc64d;
  border-color: #ffae02;
}

.activity-info {
  padding: 0;
}

.media-body {
  padding-top: 5px;
  padding-right: 10px;
}

.full-width {
  width: 100%;
}

.property-content {
  padding-left: 10px;
}

.panel-activity {
  min-width: 255px;
}

.activity-title {
  overflow: hidden;
  max-width: 80%;
  white-space: nowrap;
}

#poster-modal{
  text-align: center;
}

#poster-modal .modal-footer{
  margin-top: 0;
}

#poster-modal .activity-title{
  max-width: 100%;
}

.custom_left {
	padding-left: 0;
}

/* Danny please do the needful */
.cramtable tr > td {
    padding: 0 0 0 8px !important; // Overrides table-linked padding which is apparently more specific
    vertical-align: middle;
}

.cramtable tr > td > a {
  line-height: 36px;

  height: 36px;
  width: 100%;
}

.cramtable tr > td > input {
  height: 32px;
  width: 100%;
  line-height: 32px;

  margin: 5px 0;
  padding: 1px;
}

.cramtable tr > td {
  width: calc(60% - 50px);
}

.cramtable tr > td:nth-child(2) {
  width: calc(40% - 50px);

  padding-right: 5%;
  text-align: right;
}

.cramtable tr > td.buttons {
  width: 100px;
}

.cramtable tr > td > .btn-group {
  height: 30px;
  float: right;

  margin: 2px 0 4px 0;
  padding: 0;
}

.cramtable tr > td > .btn-group > button {
  height: 32px;
  line-height: 20px;

  padding: 5px 12px;
}

.cramtable tr > td > ul.dropdown-menu {
  display: none;
  position: absolute;
  left: 4px;
  top: 30px;
}

.cramtable tr > td > ul.dropdown-menu > li:not(.active) > a:hover {
  background-color: white;
  color: #767676;
}
