.poster-thumbnail img {
	width:150px;
}

.activity-info {
	padding:0;
}

.media-body {
	padding-top:5px;
	padding-right:10px;
}
.full-width {
	width:100%;
}

.property-content {
	padding-left:10px;
}

.panel-activity {
	min-width:255px;
}

.enrollment-page {
	left:0 !important;
}