.panel:first-child {
  margin-bottom: 0px;
}

.panel-body .img-circle {
  position: relative;
  display: block;
  top: -5px;
  
  width: 250px;
  margin: 10px auto;
}

@media (max-width: 768px) {  
  div.col-sm-12 > a.btn {
    width: 100%;
    text-align: center;
    margin-top: 5px;
  }
  
  div.col-sm-12 > a.btn:last-child {
    margin-bottom: 20px;
  }
}