html {
  overflow: auto;
}

#header{
  position: fixed;
}

.panel.panel-box.info-box {
  .text-muted {
    position: absolute;
  }
}

.table {
  margin-bottom: 40px;

  span.fa.fa-sort-asc {
    position: relative;
    top: 7px;

    color: green;
  }

  span.fa.fa-sort-desc {
    color: red;
  }

  .form td {
    padding: 1px !important;

    input {
      line-height: 18px;
      padding: 4px;
      width: 100%;
      margin: 5px 0;
      height: 34px;
    }

    button {
      width: 100%;
      margin-top: 5px;
      border-radius: 0px;
      height: 34px;
    }
  }
}
