html, body {
  height: 100%;
}

body {
  background-color: white;
  background: linear-gradient(90deg, rgba(200,0,0,.5) 50%, transparent 50%), linear-gradient(0deg, rgba(200,0,0,.5) 50%, transparent 50%);
  
  background-size:50px 50px;
}

div.view-container {
  position: absolute;
  right: 140px;
  
  height: 100%;
  width: 30%;

  background-color: white;
  box-shadow: -4px 0 15px 0 gray, 4px 0 15px 0 gray;
}

div.col-center {
  top: 400px;
}