html, body:not(#app) {
  height: 100%;
}

body:not(#app) {
  background-color: white;
  background: linear-gradient(90deg, rgba(200,0,0,.5) 50%, transparent 50%), linear-gradient(0deg, rgba(200,0,0,.5) 50%, transparent 50%);
  
  background-size:50px 50px;
}

body:not(#app) div.view-container {
  position: absolute;
  right: 140px;
  
  height: 100%;
  width: 30%;

  background-color: white;
  box-shadow: -4px 0 15px 0 gray, 4px 0 15px 0 gray;
}

body:not(#app) div.col-center {
  top: 400px;
}

form#editor #textarea, form#editor textarea#html {
  font-family: arial;
  font-size: medium;
  
  color: #222;
  
  width: 100%;
  min-height: 200px;
 
  margin-bottom: 10px;
  overflow-y: scroll;
  
  display: none;
}

form#editor.html textarea#html {
  display: block;
}

form#editor:not(.html) #textarea {
  display: block;
}