#textarea, textarea#html {
  font-family: arial;
  font-size: medium;
  
  color: #222;
  
  width: 100%;
  min-height: 200px;
 
  margin-bottom: 10px;
  overflow-y: scroll;
  
  display: none;
}

form.html textarea#html {
  display: block;
}

form:not(.html) #textarea {
  display: block;
}