.view-container { 
  .row {
    @media (min-width: 768px) {
      position: relative;
      top: 300px; 
    }
  
    .col-md-3 {          
      &:first-child {
        @media (min-width: 768px) {
          height: 167px;
          border-right: solid black 1px;
          margin-left: 20%;
        }
      }
      
      @media (min-width: 768px) {
        img {
          position: absolute;
          right: -25px;
          top: -100px;
        }
        
        p {
          position: absolute;
          top: 112px;
          right: 14px;
          
          width: 280px;
          text-align: right;
        }
      }
    }
  }
}