#poster-modal.modal{:role => "dialog"}
  .modal-dialog
    .modal-content
      .modal-header
        %h4.panel-title.activity-title
        %button.close{"data-dismiss" => "modal", :type => "button"}
          &times;

      .modal-body
        %img.full-width
        %br
        %br
        - if view == 'index'
          %button.btn.btn-info.more-info{"data-dismiss" => "modal"}
            = I18n.t("layouts.partials.poster_modal.more_info")
      .modal-footer
        .col
          %button.btn.btn-default.btn-secondary.prev-activity <
        .col
          %button.btn.btn-default.btn-secondary.full-width{"data-dismiss" => "modal"}= I18n.t("layouts.partials.poster_modal.close")
        .col
          %button.btn.btn-default.btn-secondary.next-activity >
