.page.search
  %section.panel.panel-default
    .panel-body
      = form_tag members_path, :method => 'get' do
        .input-group
          = search_field_tag :search, params[:search],  placeholder: I18n.t('layouts.partials.search.placeholder'), class: 'form-control', :autocomplete => 'off'

          %ul.dropdown-menu{ :name => 'studies' }
            - Study.select( :code ).all.map{ |study| [study.code.downcase, I18n.t(study.code.downcase, scope: 'activerecord.attributes.study.names')] }.each do |study|
              %li
                %a{ :data => { :code => study[0], :name => study[1].downcase.gsub( ' ', '-' )} }= study[1]

          %ul.dropdown-menu{ :name => 'tags' }
            - Tag.names.map{ |tag| I18n.t(tag[0], scope: 'activerecord.attributes.tag.names')}.each do |tag|
              %li
                %a{ :data => { :name => tag.downcase.gsub( ' ', '-' )} }= tag

          %ul.dropdown-menu{ :name => 'states' }
            %li
              %a{ :data => { :name => I18n.t("layouts.partials.search.active") }}= I18n.t("layouts.partials.search.active")
            %li
              %a{ :data => { :name => I18n.t("layouts.partials.search.studying") }}= I18n.t("layouts.partials.search.studying")
            %li
              %a{ :data => { :name => I18n.t("layouts.partials.search.alumni") }}= I18n.t("layouts.partials.search.alumni")
            %li
              %a{ :data => { :name => I18n.t("layouts.partials.search.anybody") }}= I18n.t("layouts.partials.search.anybody")

          .input-group-append
            %button.btn.btn-primary{ type: 'submit' }
              %i.fa.fa-search

- if flash['notice'].present?
  .col-md-12
    .alert.alert-info
      %span= I18n.t('activerecord.errors.info')
      %ul
      - Array(flash['notice']).each do |msg|
        %li= msg
