-#
  @param {groups} groups    - List of groups

.panel.panel-default.table-dynamic
  .panel-heading
    %i.fas.fa-fw.fa-fw.fa-users
    Groepen

  %table.table.table-striped.table-linked
    %tbody
      - groups.each do |group|
        %tr
          %td= link_to "#{group.name}", group
          %td.hidden-sm= group.members.reject{ |member| member.member.nil? }.map{ |member| member.name }.join(', ')
