-#
  @param {groups} groups    - List of groups

.card.table-dynamic
  .card-header
    %i.fa.fa-fw.fa-fw.fa-users
    = I18n.t('admin.navigation.group')

  %table.table.table-striped.table-linked
    %tbody
      - groups.each do |group|
        %tr
          %td= link_to "#{group.name}", group
          %td.d-none.d-md-table-cell= group.members.reject{ |member| member.member.nil? }.map{ |member| member.name }.join(', ')
