-#
  @param {groups} groups    - List of groups

.panel.panel-default.table-dynamic
  .panel-heading
    %i.fa.fa-fw.fa-fw.fa-users
    Groepen

  %table.table.table-striped.table-linked
    %tbody
      - groups.each do |group|
        %tr
          %td= link_to "#{group.name}", group
          %td.d-none.d-md-table-cell= group.members.map{ |member| member.name }.join(', ')
