.panel.panel-default.table-dynamic
  .panel-heading
    %i.fa.fa-fw.fa-fw.fa-users
    Groepen

  %table.table.table-striped.table-linked
    %tbody
      - groups.each do |group|
        %tr
          %td= link_to "#{group.name}", group
          %td.hidden-sm= group.members.map{ |member| member.name }.join(', ')
          - if group.category != "board"
            %td.col-xs-2= link_to 'Verwijderen', group_path(group.id), { :class => 'button btn btn-danger pull-right', 'data-method' => :delete }
          - else
            %td.col-xs-2
