#credit {
  .form-group, .form-group input {
    width: 100%;

  }

  .card-body.amount {
    display: none;
    border-top: solid 1px rgba(0, 0, 0, 0.125);

    .form-group {
      input {
        width: auto;
      }

      .input-group-append {
        margin-top: 5px;
        padding-left: 1px;
      }
    }
  }
}

#cards .list-group-item {
  position: relative;
  padding: 10px;

  .btn-group {
    position: absolute;
    bottom: 12px;
    right: 10px;
  }
}

#products td button {
  width: 120px;
}
