li.list-group-item {
  display: inline-table;
  width: 100%;
  padding: 10px 0;

  input {
    width: 100%;
    line-height: 25px;
    margin-top: 3px;
  }
}

tr td a {
  display: inline;
}

#editor > #textarea, #editor > textarea#html {
  font-family: arial;
  font-size: medium;
  color: #222;
  width: 100%;
  min-height: 300px;
  margin-bottom: 10px;
  overflow-y: scroll;
  display: none;
}

#editor.html > textarea#html {
  display: block;
  font-size: .9em;
}

#editor:not(.html) > #textarea {
  display: block;
}
