- content_for(:page, 'unknown')

%section#content
  = render 'layouts/partials/search'

  .page
    %section.panel.panel-default
      .panel-heading
        %strong Blank Page
      .panel-body
        %p Content goes here
