%section#header.top-header
  %header.clearfix
    %a.hidden-xs.toggle-min{href: "#"}
      %i.fa.fa-bars
    %a.visible-xs.toggle-min{href: "#", 'data-toggle-min-nav' => '', 'data-toggle' => 'collapse', 'data-target' => '#nav-wrapper'}
      %i.fa.fa-bars
    .logo
      %a{href: '/'}
        %span Constipated koala
    .top-nav      
      %ul.nav-right.pull-right.list-unstyled
        %li.dropdown.text-normal.nav-profile
          %a.dropdown-toggle{'data-toggle' => 'dropdown', href: '#'}
            =image_tag "https://secure.gravatar.com/avatar/#{current_admin.gravatar}?d=mm", :class => 'img-circle img30_30'
            %span.hidden-xs
              %span #{current_admin.email }
          %ul.dropdown-menu.with-arrow{ :style => 'right: 0;' }
            %li
              %a{href: '/admins/edit'}
                %i.fa.fa-user
                %span Profiel
            %li
              %a{href: '/admins/sign_out', 'data-method' => :delete}
                %i.fa.fa-sign-out
                %span Log uit
    -#
      %ul.nav-right.pull-right.list-unstyled
        %li.dropdown
          %a.dropdown-toggle{'data-toggle' => 'dropdown', href: '#'}
            %span.badge.badge-info 2
            %i.fa.fa-bell-o
          .dropdown-menu.with-arrow.panel.panel-default
            .panel-heading
              Er zijn 2 notificaties.
            %ul.list-group
              %a{href: '/members'}
                %li.list-group-item
                  .media-body
                    %span.block Er zijn 234 nieuwe inschrijvingen
                    %span.text-muted.block 2min ago
              %a{href: '#'}
                %li.list-group-item
                  .media-body
                    %span.block Martijn Casteel heeft zijn tegoed opgewaardeerd
                    %span.text-muted 3 hours ago