<header>
  <div class="ui inverted purple menu">
    <a class="item">
      <i class="home icon"></i> Home
    </a>
    <div class="right menu">
      <div class="item">
        <div class="ui icon input">
        <input type="text" placeholder="Search...">
        <i class="search link icon"></i>
        </div>
      </div>
      <div class="item">
        Hey, Onderwijs</div>
      <div class="item">
        <div class="ui small button">Loguit</div>
      </div>
    </div>
  </div>
</header>
