<header>
  <div class="ui inverted purple menu">
    <a href="<%= members_path %>"class="item">
      <i class="home icon"></i> Home
    </a>
    <div class="right menu">
      <div class="item">
        <div class="ui mini icon input">
          <%= form_tag members_path, :method => 'get' do %>
            <%= text_field_tag :search, params[:search], placeholder: 'Zoek hier' %>
          <% end %>
          <i class="search link icon" type="submit"></i>
        </div>
      </div>
      <div class="item">
        <%= link_to 'Log uit', destroy_admin_session_path, { :method => :delete, :class => "small ui button" } %>
      </div>
    </div>
  </div>
</header>
