%aside#nav-container{role: 'navigation'}
  #nav-wrapper.navbar.navbar-default
    %ul#nav{'data-collapse-nav' => '', 'data-slim-scroll' => '', 'data-highlight-active' => '' }
      %li{ :class => ('active' if yield(:page) == 'home') }
        = link_to :root do
          %span Home
          %i.fa.fa-desktop
            %span.icon-bg.bg-danger
      %li{ :class => ('active' if yield(:page) == 'edit') }
        = link_to :users_edit do
          %span Gegevens bewerken
          %i.fa.fa-user
            %span.icon-bg.bg-orange
      %li{ :class => ('active' if yield(:page) == 'enrollments') }
        = link_to :enrollments do
          %span Inschrijven
          %i.fa.fa-ticket
            %span.icon-bg.bg-warning
      %li.hidden-sm-up
        = link_to destroy_user_session_path, 'data-method' => :delete do
          %span Uitloggen
          %i.fa.fa-sign-out
