%aside#nav-container{role: 'navigation'}
  #nav-wrapper.navbar.navbar-default
    %ul#nav{'data-collapse-nav' => '',
      'data-slim-scroll' => '', 'data-highlight-active' => '' }
      = render partial: 'layouts/nav_item',
        :locals => { :name => 'home', :url => '/',
        :icon => 'desktop', :color => 'danger' }
      = render partial: 'layouts/nav_item',
        :locals => { :name => 'members',
        :icon => 'user', :color => 'orange' }
      = render partial: 'layouts/nav_item',
        :locals => { :name => 'activities',
        :icon => 'ticket', :color => 'success' }
      = render partial: 'layouts/nav_item',
        :locals => { :name => 'checkout',
        :icon => 'shopping-cart', :color => 'info' }

