.page.search
  %section.panel.panel-default
    .panel-body
      = form_tag members_path, :method => 'get' do
        .input-group
          = text_field_tag :search, params[:search], placeholder: 'zoeken', class: 'form-control', autofocus: true 
          %span.input-group-addon{ type: 'submit', style: 'display: table-cell;', class: 'fa fa-search'}