.page.search
  %section.panel.panel-default
    .panel-body
      = form_tag members_path, :method => 'get' do
        .input-group
          = text_field_tag :search, params[:search], :autofocus => true,  placeholder: 'zoek lid op voornaam, achternaam, of studentnummer', class: 'form-control'
          %span.input-group-btn
            %button.btn.btn-primary.fa.fa-search{ type: 'submit', style: 'padding: 7px 20px;' }